@font-face {
  font-family: 'TTHakgyoansimMonggeulmonggeulR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#rightImage {
  transition: transform 0.2s ease-in-out; /* 트랜지션 효과 적용 */
}

#rightImage:hover {
  transform: scale(1.1); /* 마우스 호버 시 이미지 크기 조정 */
}

#startImage {
  width: 500px;
  height: auto;
  position: fixed;
  bottom: 20px; /* 조정 가능한 값 */
  right: calc(50% - 250px); /* 화면 가로 중앙에서 250px만큼 오른쪽으로 이동 */
  transition: transform 0.2s ease-in-out; /* 변화에 transition 효과 적용 */
}

#startImage:hover {
  transform: scale(1.1); /* 마우스를 올릴 때 이미지를 약간 확대 */
}

body {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #00FF00;
  font-family: 'TTHakgyoansimMonggeulmonggeulR', sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
